/* ------------ TAGS NORMAIS ------------ */

footer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding-bottom: 100px;
}

footer img {
	width: 60%;
}

/* --------------- MEDIA RESPONSIVE --------------- */

@media only screen and (max-width: 992px) {
	footer img {
		width: 100%;
	}
}